*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}
.Classic{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    font-size: 30px;
    color: rgb(250, 233, 0);
    font-weight: 700;
    border: solid 2px white;
    padding: 1%;
    border-radius: 5px;
}
.Insane{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: rgb(192, 0, 250);
    font-weight: 700;
    border: solid 2px white;
    padding: 1%;
    border-radius: 5px;
}
.Endless{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    font-size: 30px;
    color: rgb(250, 71, 0);
    font-weight: 700;
    border: solid 2px white;
    padding: 1%;
    border-radius: 5px;
}
.text{
    color: rgb(255, 2, 234);
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 25px;
    font-weight: 700;
    display: none;
}
/* .txt{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
    font-size: 12px;
    color: rgb(0, 110, 255);
    font-weight: 700;
} */
.ball{
    border-radius: 50%;
    background: red;
    height: 30px;
    width: 30px;
    position: absolute;
}
.content{
    position: relative;
}